.formContainer {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 700px;
    justify-content: space-around;
    padding: 50px;
    color: #000;
}

button {
    width: 120px;
    height: 30px;
    background-color: darkolivegreen;
    color: #fff;font-size: 15px;
}




select, option ,input{
    font-size: 18px;
    width: 350px;
    height: 35px;
    padding: 0;
}

ol {
    background-color: rgb(186, 186, 188);
    color: #000;
}

.form{
    display: flex;
    flex-direction: row;
  
    justify-content: space-evenly;

}
.form-container{
    background-color: ghostwhite;
    margin-top: 100px;
    color: #000;
}

.form-row-container{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.pagination-container button{
    width: 80px;
    height: 30px;
}
.pagination-container{
    display: flex;
    justify-content: center;
}