.formContainer {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 700px;
    justify-content: space-around;
    padding: 50px;
    color: #000;
}

button {
    width: 120px;
    height: 30px;
    background-color: darkolivegreen;
    color: #fff;font-size: 15px;
}




select, option ,input{
    font-size: 18px;
    width: 350px;
    height: 35px;
    padding: 0;
}

ol {
    background-color: rgb(186, 186, 188);
    color: #000;
    margin: 10px;
    width: 500px;
}

.form{
    display: flex;
    flex-direction: row;
  
    justify-content: space-evenly;

}
.form-container{
    background-color: ghostwhite;
    margin-top: 100px;
    color: #000;
}

.form-row-container{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.pagination-container button{
    width: 80px;
    height: 30px;
}
.pagination-container{
    display: flex;
    justify-content: center;
}

.result-notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
    .form-row span{  margin-left: 20px;}
.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    /* position: relative; */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

